MYSQL_URL=mysql+pymysql://root:password@localhost:3306/recommendation_db
VIEW_LOOKBACK_DAYS=90
ORDER_LOOKBACK_DAYS=180
LIGHTFM_NUM_THREADS=4


# Vào venv:
# wsl
# source ~/.venvs/recommendation-service311/bin/activate

# Chuẩn bị dữ liệu:
# python -m data.data_pipeline

# Train model:
# python -m training.train

# Chạy: 
# python main.py

# Test siêu tham số
# python -m training.tune_lightfm